docs/n8n-workflows/naumen-ticket-processing.json
[
  {
    "id": "1",
    "name": "Naumen Ticket Processing",
    "active": false,
    "nodes": [
      {
        "id": "webhook-ticket",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "ticket-webhook",
          "responseMode": "onReceived",
          "responseData": "allEntries"
        }
      },
      {
        "id": "if-closed",
        "name": "IF Closed",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          240,
          0
        ],
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{$json[\"is_closed\"]}}",
                "operation": "isTrue"
              }
            ]
          }
        }
      },
      {
        "id": "noop-closed",
        "name": "Stop for closed",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          480,
          -120
        ]
      },
      {
        "id": "call-app",
        "name": "Call /process_ticket",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          480,
          120
        ],
        "parameters": {
          "authentication": "none",
          "method": "POST",
          "url": "http://api:8080/process_ticket",
          "sendBody": true,
          "jsonParameters": true,
          "options": {
            "timeout": 120000
          },
          "headerParametersJson": "={\n  \"X-API-Key\": \"{{$env.SERVICE_API_KEY || ''}}\"\n}",
          "bodyParametersJson": "={\n  \"ticket_id\": $json.ticket_id,\n  \"text\": $json.text\n}"
        }
      },
      {
        "id": "send-naumen",
        "name": "Send comment to Naumen",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          720,
          120
        ],
        "parameters": {
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "method": "POST",
          "url": "={{$env.NAUMEN_API_URL || 'https://naumen.example/api/tickets/' + $json.ticket_id + '/comments'}}",
          "sendBody": true,
          "jsonParameters": true,
          "bodyParametersJson": "={\n  \"text\": $json.comment\n}",
          "options": {
            "timeout": 120000
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "1",
            "name": "Naumen API"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "IF Closed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Closed": {
        "main": [
          [
            {
              "node": "Stop for closed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call /process_ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call /process_ticket": {
        "main": [
          [
            {
              "node": "Send comment to Naumen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "saveExecutionProgress": true,
      "saveManualExecutions": true
    }
  }
]
