docs/n8n-workflows/naumen-ticket-processing.json
{
  "name": "Naumen RAG Processing (Clean)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-webhook",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.event_type || $json.event_type}}",
              "operation": "equal",
              "value2": "ticket_result"
            }
          ]
        }
      },
      "id": "IF_Event",
      "name": "IF Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.body.is_closed ?? $json.is_closed}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "IF_Closed",
      "name": "IF Closed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {},
      "id": "Stop_Closed",
      "name": "Stop for closed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [550, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8080/process_ticket",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"ticket_id\": $json.body.ticket_id || $json.ticket_id,\n  \"text\": $json.body.text || $json.text\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "Call_Process",
      "name": "Call /process_ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 400]
    },
    {
      "parameters": {},
      "id": "Stop_Queued",
      "name": "Stop queued",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://service-desk-dev.bank.corp.centercredit.kz/gateway/services/rest/createComment",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "accessKey",
              "value": "PUT_YOUR_ACCESS_KEY_HERE"
            },
            {
              "name": "params",
              "value": "requestContent,user"
            }
          ]
        },
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"source\": $json.body.ticket_id || $json.ticket_id,\n  \"text\": $json.body.comment || $json.comment\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "Send_Naumen",
      "name": "Send comment to Service Desk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, -150]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Event Type": {
      "main": [
        [
          {
            "node": "Send comment to Service Desk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Closed": {
      "main": [
        [
          {
            "node": "Stop for closed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call /process_ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call /process_ticket": {
      "main": [
        [
          {
            "node": "Stop queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
